h1{
    text-align: center;
    background-color: #FFB7D5;
    margin-top: 30px;

}


body{
    color: #B06380;
    background-image: url(Images/wallpaper.jpg);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50pxx;
    
}


.letter{
    color: rgb(185, 15, 168);
}